.item{
    padding: 1rem 0rem 1rem 2rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

.item:hover{
    cursor: pointer;
    background-color: gray;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}