.videoContainer{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1dfc;
    border-right: 2px solid #5a5959;
}