.box {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.fullBoxScreen{
    box-sizing: none;
    position: absolute;
    width: 88%;
    height: 88%;
    top: 8%;
    left: 5%;
}

.videoPlayer{
    width: 75%;
}

.fullVideoPlayer{
    width: 90%;
    height: 90%;
}

.identity{
    /* position: absolute; */
    background-color: rgb(74, 73, 73);
    color: white;
    width: fit-content;
    padding: 0.25rem 0.5rem;
}

.identity h3{
    margin: 0;
    padding: 0.25rem;
}

.identityHidden{
    display: none;
    position: absolute;
    background-color: rgb(74, 73, 73);
    color: white;
    top: 3%;
}