.itemRight{
    display: flex;
    justify-content: flex-end;
}

.itemLeft{
    display: flex;
    justify-content: flex-start;
}

.itemContainer{
    background-color: rgb(126 143 165 / 85%);
    max-width: 90%;
    min-width: 10%;
    width: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 0 15px 15px 15px;
}

.itemContainerByMe{
    background-color: rgb(151 173 161 / 85%);
    max-width: 90%;
    min-width: 10%;
    width: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 15px 0px 15px 15px;
}

.displayName{
    font: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: #e1b3a1;
}

.content{
    font: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    padding: 0.25rem 0;
}

.time{
    font: inherit;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
    padding-left: 0.5rem;
}