.directChatContainer{
    height: 55%;
}

.onlyHeaderdirectChat{
    height: 5.5%;
}

.header{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    gap: 30%;
    align-items: center;
    height: 10%;
    background-color: #0b8ab0c4;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 2px 8px 2px;
}

.header:hover{
    background-color: #199ec7c4;
}

.onlyHeader{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;
    height: 100%;
    background-color: #0b8ab0c4;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 2px 8px 2px;
}

.onlyHeader:hover{
    background-color: #199ec7c4;
}

.bodyDirectChat{
    height: 90%;
    background-color: #8f58a67a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.messages{
    height: 85%;
    width: 100%;
}

.identity{
    font-size: 1.2rem;
    font-weight: bold;
}

.icon{
    font-size: 2rem;
}

@media screen and (max-height: 720px) {
    .icon{
        font-size: 1.5rem;
    }
}