.roomLabel{
    width: 45%;
    height: 5%;
    /* background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%); */
    background: linear-gradient(168.68deg, #013481 1.12%, #034ab5 100%);
    color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.roomId{
    font-size: 1rem;
}


@media screen and (max-height: 720px) {
    .roomLabel{
        height: 7%;
    }
}